<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog</title>
</head>
<body>

<form action="/logout" method="post">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
    <input type="submit" value="Выйти из профиля"/>
</form>

<form method="post" action="/admin/add">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
    <input type="text" name="title" placeholder="Введите заголовок">
    <input type="text" name="context" placeholder="Введите текст">
    <input type="text" name="tag" placeholder="Введите тэг">
    <button type="submit">Добавить</button>
</form>

<div>Список статей</div>
{{#articles}}
    <div>
        <p>ID:{{id}} Title:{{title}} Date:{{dateCreate}} Context:{{context}} Author:{{authorName}} Tag:{{tag}}</p>
    </div>
{{/articles}}

<form method="post" action="/admin/filter">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
    <input type="text" name="tag" placeholder="Поиск по тэгу">
    <button type="submit">Поиск</button>
</form>

</body>

</html>